@model MRTWebApp.Models.MRT
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
  
    <title>@ViewBag.Title</title>
  

</head>

<body>

    <img src='https://www.mymrt.com.my/wp-content/themes/betheme/images/headers/logo.svg' width='100' height='50'>
    <div>


        @using (Html.BeginForm())
        {
            @Html.ValidationSummary()

            <table>
                <tr>
                    <td>Customer Name:</td>
                    <td>@Html.TextBoxFor(x => x.Name)</td>
                </tr>
                <tr>
                    <td>Customer NRIC/Passport No:</td>
                    <td>@Html.TextBoxFor(x => x.Id)</td>
                </tr>
                <tr>
                    <td>Customer email:</td>
                    <td>@Html.TextBoxFor(x => x.Email)</td>
                </tr>

                <tr>
                    <td>Ticket origin:</td>
                    <td>

                        @Html.DropDownListFor(x => x.Origin, new[]
                                 {
                               new SelectListItem() {Text = "Sungai Buloh", Value = "0"},
                               new SelectListItem() {Text = "Kampung Selamat", Value = "1"},
                               new SelectListItem() {Text = "Kwasa Damansara", Value = "2"},
                               new SelectListItem() {Text = "Kwasa Sentral", Value = "3"},
                               new SelectListItem() {Text = "Kota Damansara", Value = "4"},
                               new SelectListItem() {Text = "Surian", Value = "5"},
                               new SelectListItem() {Text = "Mutiara Damansara", Value = "6"},
                               new SelectListItem() {Text = "Bandar Utama", Value = "7"},
                               new SelectListItem() {Text = "Taman Dr Tun Ismail", Value = "8"},
                               new SelectListItem() {Text = "Phelio Damansara", Value = "9"},
                               new SelectListItem() {Text = "Pusat Bandar Damansara", Value = "10"},
                               new SelectListItem() {Text = "Semantan", Value = "11"},
                               new SelectListItem() {Text = "Muzium Negara", Value = "12"},
                               new SelectListItem() {Text = "Pasar Seni", Value = "13"},
                               new SelectListItem() {Text = "Merdeka", Value = "14"},
                               new SelectListItem() {Text = "Bukit Bintang", Value = "15"},
                               new SelectListItem() {Text = "Tun Razak Exchange", Value = "16"},
                               new SelectListItem() {Text = "Cochrane", Value = "17"},
                               new SelectListItem() {Text = "Maluri", Value = "18"},
                               new SelectListItem() {Text = "Taman Pertama", Value = "19"},
                               new SelectListItem() {Text = "Taman Midah", Value = "20"},
                               new SelectListItem() {Text = "Taman Mutiara", Value = "21"},
                               new SelectListItem() {Text = "Taman Connaught", Value = "22"},
                               new SelectListItem() {Text = "Taman Suntex", Value = "23"},
                               new SelectListItem() {Text = "Sri Raya", Value = "24"},
                               new SelectListItem() {Text = "Bandar Tun Hussein Onn", Value = "25"},
                               new SelectListItem() {Text = "Bandar Sebelas Chearas", Value = "26"},
                               new SelectListItem() {Text = "Bukit Dukung", Value = "27"},
                               new SelectListItem() {Text = "Sungai Jernih", Value = "28"},
                               new SelectListItem() {Text = "Stadium Kajang", Value = "29"},
                               new SelectListItem() {Text = "Kajang", Value = "30"},
                               }, "Select origin")
                    </td>

                </tr>
                <tr>
                    <td>Ticket destination:</td>
                    <td>
                        @Html.DropDownListFor(x => x.Destination, new[]
                             {
                               new SelectListItem() {Text = "Sungai Buloh", Value = "0"},
                               new SelectListItem() {Text = "Kampung Selamat", Value = "1"},
                               new SelectListItem() {Text = "Kwasa Damansara", Value = "2"},
                               new SelectListItem() {Text = "Kwasa Sentral", Value = "3"},
                               new SelectListItem() {Text = "Kota Damansara", Value = "4"},
                               new SelectListItem() {Text = "Surian", Value = "5"},
                               new SelectListItem() {Text = "Mutiara Damansara", Value = "6"},
                               new SelectListItem() {Text = "Bandar Utama", Value = "7"},
                               new SelectListItem() {Text = "Taman Dr Tun Ismail", Value = "8"},
                               new SelectListItem() {Text = "Phelio Damansara", Value = "9"},
                               new SelectListItem() {Text = "Pusat Bandar Damansara", Value = "10"},
                               new SelectListItem() {Text = "Semantan", Value = "11"},
                               new SelectListItem() {Text = "Muzium Negara", Value = "12"},
                               new SelectListItem() {Text = "Pasar Seni", Value = "13"},
                               new SelectListItem() {Text = "Merdeka", Value = "14"},
                               new SelectListItem() {Text = "Bukit Bintang", Value = "15"},
                               new SelectListItem() {Text = "Tun Razak Exchange", Value = "16"},
                               new SelectListItem() {Text = "Cochrane", Value = "17"},
                               new SelectListItem() {Text = "Maluri", Value = "18"},
                               new SelectListItem() {Text = "Taman Pertama", Value = "19"},
                               new SelectListItem() {Text = "Taman Midah", Value = "20"},
                               new SelectListItem() {Text = "Taman Mutiara", Value = "21"},
                               new SelectListItem() {Text = "Taman Connaught", Value = "22"},
                               new SelectListItem() {Text = "Taman Suntex", Value = "23"},
                               new SelectListItem() {Text = "Sri Raya", Value = "24"},
                               new SelectListItem() {Text = "Bandar Tun Hussein Onn", Value = "25"},
                               new SelectListItem() {Text = "Bandar Sebelas Chearas", Value = "26"},
                               new SelectListItem() {Text = "Bukit Dukung", Value = "27"},
                               new SelectListItem() {Text = "Sungai Jernih", Value = "28"},
                               new SelectListItem() {Text = "Stadium Kajang", Value = "29"},
                               new SelectListItem() {Text = "Kajang", Value = "30"},
                                 }, "Select destination")
                    </td>
                </tr>
                <tr>
                    <td>Ticket quantity:</td>
                    <td>@Html.TextBoxFor(x => x.Quantity)</td>
                </tr>
                <tr>
                    <td>Ticket type:</td>
                    <td>
                        @Html.DropDownListFor(x => x.Discount, new[]
                             {
                                    new SelectListItem() {Text = "Normal citizen", Value = bool.FalseString},
                                    new SelectListItem() {Text = "Senior citizen", Value = bool.TrueString},
                                    new SelectListItem() {Text = "Disabled citizen", Value = bool.TrueString},
                                    new SelectListItem() {Text = "Students", Value = bool.TrueString}
                                })
                    </td>
                </tr>

                <tr>
                    <td></td>
                    <td><input type="submit" value="Buy ticket" /></td>
                </tr>
            </table>


        }
    </div>

</body>
</html>
